src/main/mule/ecommmock.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8084"/>
    </http:listener-config> 
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="ECOMCommonServiceSOAP" service="ECOMCommonService" wsdlLocation="ECOMCommonService.wsdl"/>
    <file:config name="File_Config" doc:name="File Config" doc:id="928ab675-bb72-482b-bcfe-fe291eaa9cb2" />
	<xml-module:config name="XML_Config" doc:name="XML Config" doc:id="9e4aa870-334a-4da8-922e-f533909d808b" />
	<xml-module:namespace-directory name="Namespace_directory" doc:name="Namespace directory" doc:id="0e399355-c2c8-4aec-ad99-01148d039e65" >
		<xml-module:namespaces >
			<xml-module:namespace prefix="soap" uri="http://schemas.xmlsoap.org/soap/envelope/" />
			<xml-module:namespace prefix="mule" uri="http://simple.component.mule.org/" />
		</xml-module:namespaces>
	</xml-module:namespace-directory>
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/ECOMCommonService/ECOMCommonServiceSOAP">
            <http:response statusCode="#[attributes.protocolHeaders.httpStatus default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.protocolHeaders.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="getBizCircleInfo:\soapkit-config">
		<file:read doc:name="Read" doc:id="f7cc5355-eb3c-495f-87eb-2f731be182db" config-ref="File_Config" path="#[p('app.home')++&quot;/getBizCircleInfoResponse.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="54c1f945-c851-4ad2-b55c-7ae884f865d8" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="b291de07-1479-4b7c-b939-265e1f3a5490" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="2be54e37-abd3-4886-a17d-2af07e66fe53" message="#[payload]" />
    </flow>
    <flow name="getBizCircleIndBySvcNo:\soapkit-config">
        <file:read doc:name="Read" doc:id="c7a76213-99dd-4d1c-a548-645f8d24d83d" config-ref="File_Config" path="#[p('app.home')++&quot;/getBizCircleIndBySvcNoResponse.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="a6a9b457-fccf-4317-bee2-508028d877e6" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="7967bc6b-e86b-40eb-bb59-3da371c431f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9ab8ed79-da0a-4de5-bc8b-9a7fe97a28ef" message="#[payload]" />
    </flow>
    <flow name="updateDDIInfo:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [updateDDIInfo:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="getAddrHistBySvcInstId:\soapkit-config">
        <file:read doc:name="Read" doc:id="b00b55f7-cc02-4993-9e37-4f2558a53062" config-ref="File_Config" path="#[p('app.home')++&quot;/getAddrHistBySvcInstIdResponse.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="4993b74f-0012-4204-abdc-99a19087286f" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="c53ffa7c-a130-4379-be80-7f434eeb4cd3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="012c0f2b-7a94-4a07-a782-9fb252b975b1" message="#[payload]" />
    </flow>
    <flow name="getNotesExt:\soapkit-config">
    	<file:read doc:name="Read" doc:id="48b6042a-1c00-45b8-9fbb-590c3b53831c" config-ref="File_Config" path="#[p('app.home')++&quot;/getNotesExtResponse.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="ddd12424-b79c-47ea-8e02-f3e052332e6e" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="0bc1d40c-9bb9-4ebf-9784-5a4d5e4a5daf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="16f8c79d-9c4f-4eb7-b84a-de3deb49a1ab" message="#[payload]" />
    </flow>
    <flow name="getPrdtTieInfo:\soapkit-config">
        <file:read doc:name="Read" doc:id="22b958d0-bf0c-4b75-9b64-c1c1ed2bede3" config-ref="File_Config" path="#[p('app.home')++&quot;/getPrdtTieInfoResponse.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="94961ef3-21d7-4a18-a7cc-a9cdec605042" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="e48048d4-f5d5-44f9-b025-082404c12943" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="762fa828-273a-4abb-92bc-57d946e97b3b" message="#[payload]" />
    </flow>
    <flow name="getIMEIChangeDates:\soapkit-config">
        <file:read doc:name="Read" doc:id="eb25ac32-a185-445b-bf15-100beca21fb9" config-ref="File_Config" path="#[p('app.home')++&quot;/getIMEIChangeDatesResponse.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="f1706751-a2d2-4056-a3cc-def1a6287e9c" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="1f556162-9ca9-46a3-ab8b-a6f2940113cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4887fc30-0661-4aa4-a749-00c0e81753c6" message="#[payload]" />
    </flow>
    <flow name="srchSvcNoInfoByExtAcctNo:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [srchSvcNoInfoByExtAcctNo:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="getContractInfobySvcNo:\soapkit-config">
        <file:read doc:name="Read" doc:id="58311c3b-e90e-4ef4-9a52-55db766df27e" config-ref="File_Config" path="#[p('app.home')++&quot;/getContractInfobySvcNo-response.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="f3b03522-e96f-4e4e-a1f7-6484a901bd1a" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="0ade7cc4-3da0-4dab-90d3-158e23d64af2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3eb4b23d-10aa-4128-98ed-a6616b9e5156" message="#[payload]" />
    </flow>
    <flow name="getAMDetails:\soapkit-config">
    	<file:read doc:name="Read" doc:id="b11abadc-c488-405f-8585-0c32a24cf0e0" config-ref="File_Config" path="#[p('app.home')++&quot;/getAMDetailsResponse.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="23c17836-e7d8-4903-a7f7-1fd118641c46" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="334188dd-b3e9-4f7f-b4ce-b250e61380a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="df8ee5a7-a5ca-4aa8-9b27-6ddb1ce122d1" message="#[payload]" />
    </flow>
    <flow name="srchWrkOrdsByCriteria:\soapkit-config">
    	<file:read doc:name="Read" doc:id="d78d079a-675c-4abd-a90c-aa5433127265" config-ref="File_Config" path="#[p('app.home')++&quot;/srchWrkOrdsByCriteriaResponse.xml&quot;]" />
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="02ef6a12-8a10-4427-a517-130a475b831b" config-ref="XML_Config" xpath="/soap:Envelope/soap:Body/*" namespaceDirectory="Namespace_directory" />
		<ee:transform doc:name="Transform Message" doc:id="300f878e-ff0b-4e97-85c1-9a83ec6289ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload[0],'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0ad942de-a026-45e9-bb9d-51e407fe0338" message="#[payload]" />
    </flow>
</mule>
